<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- mybatis -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@java-yong.tplinkdns.com:9000:orcl"></property>
		<property name="username" value="project01"></property>
		<property name="password" value="1234"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:/mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory"
			ref="sqlSessionFactoryBean"></constructor-arg>
	</bean>
	<!-- Daos -->
	<bean id="noticeDao"
		class="com.goodjob.notice.model.NoticeDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="comDao"
		class="com.goodjob.companymember.model.CompanyMemberDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="norDao"
		class="com.goodjob.normalmember.model.NormalMemberDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="blackListDao"
		class="com.goodjob.blacklist.model.BlackLIstDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="memberDao"
		class="com.goodjob.member.model.MemberDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="gongjiDao"
		class="com.goodjob.gongji.model.GongJiDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="singoDao" class="com.goodjob.singo.model.SinGoDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="faqDao" class="com.goodjob.faq.model.FAQDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="oneDao"
		class="com.goodjob.one_one.model.One_OneDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="ReviewDAO"
		class="com.goodjob.review.model.ReviewDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="KeywordDAO"
		class="com.goodjob.keyword.model.KeywordDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="manMemberDao" class="com.goodjob.manmember.model.ManMemberDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="salesDao" class="com.goodjob.sales.model.SalesDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	<bean id="jobHelperDao" class="com.goodjob.jobhelper.model.JobHelperDAOImple">
		<property name="sqlMap" ref="sqlSessionTemplate"></property>
	</bean>
	
</beans>
