<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<mappers>
  		<mapper resource="sqlMap/reviewSQL.xml"/>
  		<mapper resource="sqlMap/keywordSQL.xml"/>
  		<mapper resource="sqlMap/BlackListSQL.xml"/>
     	<mapper resource="sqlMap/memberSQL.xml"/>
  		<mapper resource="sqlMap/comSQL.xml"/>
  		<mapper resource="sqlMap/normalSQL.xml"/>
  		<mapper resource="sqlMap/notice.xml"/>
  		<mapper resource="sqlMap/faqSQL.xml"/>
  		<mapper resource="sqlMap/oneSQL.xml"/>
  		<mapper resource="sqlMap/manMemberSQL.xml"/>
  		<mapper resource="sqlMap/salesSQL.xml"/>
  		<mapper resource="sqlMap/jobHelperSQL.xml"/>
  		<mapper resource="sqlMap/resumeSQL.xml"/>
  		<mapper resource="sqlMap/bannerSQL.xml"/>
  		<mapper resource="sqlMap/totalFileSQL.xml"/>
  		<mapper resource="sqlMap/plan_vipSQL.xml"/>
  		<mapper resource="sqlMap/plan_upSQL.xml"/>
  		<mapper resource="sqlMap/applySQL.xml"/>
  		<mapper resource="sqlMap/jobSQL.xml"/>
  		<mapper resource="sqlMap/offerSQL.xml"/>
  		<mapper resource="sqlMap/gongjiSQL.xml"/>
  	</mappers>
  </configuration>
